# Rojo
/sourcemap.json

# Artifacts
/*.lock
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# Lune
luau_packages/
lune_packages/
roblox_packages/

# Pesde
.pesde/
pesde.lock

# Wally
/Packages
/ServerPackages
/DevPackages
wally.lock

# Git

# VS Code
.vscode

# Misc
.DS_Store

/node_modules
/build

# Tests
/tests/.tmp
